#comment-form .author {
    padding: 0 94px 0 0; /*LTR*/
}

#comment-form .author .user-picture {
    float: right; /*LTR*/
    margin: 0 -94px 0 0; /*LTR*/
}

#comment-form .author .form-item {
    padding: 0 110px 0 0; /*LTR*/
}

#comment-form .author .form-item label {
    float: right; /*LTR*/
    margin: 0 -110px 0 0; /*LTR*/
}

#comment-form .actions input {
    margin: 0 0 0 5px; /*LTR*/
}