#comments .title.comment-form {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f6f6f6;
}

#comment-form .author {
  min-height: 68px;
  height: auto;
  padding: 0 0 0 94px; /*LTR*/
}

#comment-form .author .user-picture {
  width: 68px;
  height: 68px;
  float: left; /*LTR*/
  margin: 0 0 0 -94px; /*LTR*/
}

#comment-form .author .user-picture img {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  padding: 1px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#comment-form .author .form-item {
  padding: 0 0 0 120px; /*LTR*/
  margin: 0 0 5px 0;
}

#comment-form .author .form-item label {
  width: 110px;
  float: left; /*LTR*/
  margin: 0 0 0 -120px; /*LTR*/
}

#comment-form .author .form-item input {
  margin: 0;
}

#comment-form .field-type-text-long {
  margin-bottom: 10px;
}

#comment-form .field-type-text-long .filter-wrapper {
  display: none;
}

#comment-form .actions {
  margin-top: 10px;
}

#comment-form .actions input {
  margin: 0 5px 0 0; /*LTR*/
}