.comment {
    padding: 0 94px 0 26px; /*LTR*/
}

.indented {
    padding: 0 60px 0 0; /*LTR*/
    background-image: url('../images/arrow-rtl.png'); /*LTR*/
    background-position: 100% 16px; /*LTR*/
}

.indented .indented {
    padding: 0; /*LTR*/
}

.indented .comment {
    padding: 0 78px 0 26px; /*LTR*/
}

.comment .user-picture {
    float: right; /*LTR*/
    margin: 0 -94px 0 0; /*LTR*/
}

.indented .comment .user-picture {
    margin: 0 -78px 0 0; /*LTR*/
}

.comment .new {
    left: auto; /*LTR*/
    right: 20px; /*LTR*/
}

.indented .comment .new {
    left: auto; /*LTR*/
    right: 11px; /*LTR*/
}

.comment .submitted {
    text-align: left; /*LTR*/
}

.comment .links {
    right: auto; /*LTR*/
    left: 5px; /*LTR*/
}

.comment .links li a {
    float: right; /*LTR*/
}