#comments > h2.title {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f6f0;
}

.comment {
  display: block;
  padding: 0 26px 0 94px; /*LTR*/
  margin: 0 0 5px 0;
  position: relative;
}

.indented {
  margin: 0;
  padding: 0 0 0 60px; /*LTR*/
  background-image: url('../images/arrow-ltr.png'); /*LTR*/
  background-repeat: no-repeat;
  background-position: 0 16px; /*LTR*/
}

.indented .indented {
  padding: 0; /*LTR*/
}

.indented .comment {
  padding: 0 26px 0 78px; /*LTR*/
}

.comment .user-picture {
  width: 68px;
  height: 68px;
  float: left; /*LTR*/
  margin: 0 0 0 -94px; /*LTR*/
}

.indented .comment .user-picture {
  width: 52px;
  height: 52px;
  margin: 0 0 0 -78px; /*LTR*/
}

.comment .user-picture img {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  padding: 1px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.indented .comment .user-picture img {
  width: 48px;
  height: 48px;
}

.comment.comment-by-node-author .user-picture img {
  border-color: #00a6c9;
}

.comment > h3 {
  display: none;
}

.comment .new {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 33px;
  height: 11px;
  background-image: url('../images/new.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 54px;
  left: 20px; /*LTR*/
}

.indented .comment .new {
  top: 38px;
  left: 11px; /*LTR*/
}

.comment .content {
  border-bottom: 1px solid #f0f0f0;
  height: auto;
  min-height: 80px;
}

.comment .submitted {
  font-size: 0.8em;
  text-align: right; /*LTR*/
  line-height: 16px;
  height: 16px;
}

.comment .submitted .permalink {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 16px;
  height: 16px;
  background-image: url('../images/link.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  -webkit-filter: opacity(0.5);
}

.comment .links {
  width: 16px !important;
  height: 64px;
  position: absolute;
  right: 5px; /*LTR*/
  top: 0;
}

.comment .links li a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 16px;
  height: 16px;
  float: left; /*LTR*/
  background-image: url('../images/reply.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 2px 0;

  -webkit-filter: opacity(0.2);
}

.comment .links li a:hover {
  -webkit-filter: opacity(1.0);
  background-position: 0 -16px;
}

.comment .links li.comment-delete a {
  background-image: url('../images/delete.png');
}

.comment .links li.comment-edit a {
  background-image: url('../images/edit.png');
}

.comment .links li.comment-reply a {
  background-image: url('../images/reply.png');
}

.comment .links li.comment-approve a {
  background-image: url('../images/approve.png');
}